root = true

# All
[**]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = false

# Source code file
[**.{cpp,hpp,inl}]
indent_style = space
indent_size = 4

# CMakeLists
[CMakeLists.txt]
indent_style = space
indent_size = 4